<div class="container text-center" ng-controller="LinksCtrl">
  <h3> <%= current_user.email %>'s Links</h3>
  <ul class="link-list" ng-repeat="link in links track by $index">
    <a style="font-size: 2em" ng-href="{{ link.url }}">{{ link.title }}</a>
    <p>{{ link.url }}</p>
    <br>
    <button class="btn btn-primary" ng-click="read(link)" ng-if= 'link.read === false' >Mark As Read</button>
    <button class="btn btn-warning" ng-click="read(link)" ng-if= 'link.read === true' >Mark As Unread</button>
    <button class="btn btn-danger" ng-click="destroy(link)">Delete</button>
    <a class="btn btn-success" ng-href="/links/{{link.id}}">Edit</a>
  </ul>
  <br>
  <ul class="add-link">
    <li>Add New Link
      <input type="text" class="new-url" placeholder="New URL"
      ng-model="newUrl" />
      <input type="text" class="new-title" placeholder="New Title"
      ng-model="newTitle" ng-keyup="add($event)" />
    </li>
  </ul>
</div>
